.top-bar-logo {
    align-items: center;
    display: flex;
    margin-right: 15px;
    background-image: url(URL_DE_TU_LOGO_AQUI);
    background-repeat: no-repeat;
    background-size: auto 75%;
    width: 215px;
    margin-top: 8px !important;
}

.top-bar {
    background: none;
    background-color: #0d6efd;
    border-bottom: 1px solid #0d6efd;
    box-shadow: none;
    display: flex;
    height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.top-bar-usage-inner {
    color: #fff;
    display: flex;
    font-weight: 500;
    text-shadow: none;
    font-size: 15px;
    background: #00409e;
    padding: 3px 15px;
    border-radius: 6px;
}

.top-bar-logo > img {
    opacity: 0 !important;
    z-index: -10;
}

.button-secondary {
    color: #fff;
    background: #0d6efd;
    border: 1px solid #0d6efd;
    box-shadow: none;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 600;
    text-shadow: none;
}

.button-secondary:hover {
    background: #0b5ed7;
    border: 1px solid #0b5ed7;
    color: #fff;
    text-shadow: none;
    box-shadow: none;
}

.button-secondary:active {
    background: #0b5ed7;
    border: 1px solid #0b5ed7;
    color: #fff;
    text-shadow: none;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.5);

}

.button-secondary:focus {
    background: #0b5ed7;
    border: 1px solid #0b5ed7;
    color: #fff;
    text-shadow: none;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.5);

}

.button-secondary > .icon-green{
    color: #fff;
}

.button-secondary > .icon-blue{
    color: #fff;
}

.form-control {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px !important;
    box-shadow: none;
    color: #212529;
    display: block;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 12px;
    transition: background-color .5s;
}

.form-control:hover {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px !important;
    box-shadow: none;
    color: #212529;
    display: block;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 12px;
    transition: background-color .5s;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
    transition: .2s;
}

.form-select {
    padding: 8px 12px;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: none;
}

.form-select:hover {
    padding: 8px 12px;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: none;
}

.button-secondary {
    color: #fff;
    background: #0d6efd;
    border: 1px solid #0d6efd;
    box-shadow: none;
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 600;
    text-shadow: none;
}

.button-secondary:hover {
    background: #0b5ed7;
    border: 1px solid #0b5ed7;
    color: #fff;
    text-shadow: none;
    box-shadow: none;
}

.button-secondary:active {
    background: #0b5ed7;
    border: 1px solid #0b5ed7;
    color: #fff;
    text-shadow: none;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.5);

}

.button-secondary:focus {
    background: #0b5ed7;
    border: 1px solid #0b5ed7;
    color: #fff;
    text-shadow: none;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.5);

}

.button-secondary > .icon-green{
    color: #fff;
}

.button-secondary > .icon-blue{
    color: #fff;
}

.form-control {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px !important;
    box-shadow: none;
    color: #212529;
    display: block;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 12px;
    transition: background-color .5s;
}

.form-control:hover {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px !important;
    box-shadow: none;
    color: #212529;
    display: block;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 12px;
    transition: background-color .5s;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
    transition: .2s;
}

.form-select {
    padding: 8px 12px;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
}

.form-select:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
    transition: .2s;
}

.form-control.list-editor:hover {
    padding: 7px 12px;
}

.main-menu-item-link.active, .main-menu-item-link:hover {
    background-color: #e2eeff;
    border-bottom-color: #0d6efd;
    transition: .3s;
    border-radius: 10px;
}

.main-menu-item-link.active .main-menu-item-label, .main-menu-item-link.active .main-menu-item-label .fas, .main-menu-item-link:hover .main-menu-item-label {
    color: #0d6efd;
}

.main-menu-stats {
    color: #7c7c7c;
    color: #111111;
    display: block;
    font-size: 13px;
    line-height: 1.8;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: lowercase;
    font-weight: 400;
}

.top-bar-menu-link {
    align-items: center;
    background-color: transparent;
    border: 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    color: #fff;
    display: flex;
    font-size: .8rem;
    font-weight: 600;
    padding: 10px;
    text-shadow: none;
}

.top-bar-menu-link:hover {
    background: #00409e;
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
    box-shadow: none;
    color: #fff;
    text-shadow: none;
}

.top-bar-menu-link:active {
    background: #fff;
    border-left: 1px solid rgba(0,0,0,.15);
    border-right: 1px solid rgba(0,0,0,.15);
    box-shadow: none;
    color: #0d6efd;
    text-shadow: none;
}

.top-bar-menu-link.active {
    background: #fff;
    border-left: 1px solid hsla(0,0%,100%,.98);
    border-right: 1px solid hsla(0,0%,100%,.98);
    color: #0d6efd;
    text-shadow: none;
}

ul.main-menu-stats > li {
    font-weight: 600;
}

ul.main-menu-stats > li > span {
    font-weight: 600;
    color: #0d6efd;
    background: #e2eeff;
    padding: 2px 7px;
    border-radius: 4px;
}

.main-menu-item-label {
    color: #212529;
    font-weight: 600;
    font-size: 18px;
}

.main-menu-item-label .fas {
    color: #212529;
}

.badge {
    background-color: #e2eeff;
    border: 1px solid #e2eeff;
    border-radius: 50%;
    box-shadow: none;
    color: #0d6efd;
    display: inline-block;
    font-size: .75rem;
    font-weight: 700;
    line-height: 24px;
    margin-top: -2px;
    min-height: 24px;
    min-width: 26px;
    text-shadow: none;
}

.toolbar {
    background-color: #e2eeff;
    border-bottom: none;
    border-top: none;
    margin-top: 10px;
}

.units {
    padding-top: 15px;
}

.table-header {
    background: #0d6efd;
    border-bottom: none;
    border-left: none;
    border-radius: 8px;
    border-right: none;
    box-shadow: none;
    color: #fff;
    font-size: .8rem;
    line-height: 1rem;
    min-height: 28px;
    overflow: hidden;
    padding: 4px 0 4px 15px;
    text-shadow: none;
    width: 1024px;
}

.l-unit, .units .l-unit {
    background-color: #fff;
    border-left: none;
    border-right: none;
    box-shadow: none;
    text-shadow: none;
    color: #212529;
}

.l-unit:hover, .units .l-unit:hover {
    background-color: #e2eeff !important;
    border-left: none !important;
    border-right: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #0d6efd !important;
}
